@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color-light : #FAF9F6;
  --background-color-dark : #191919;
  --background-color-dark-2 : #76ABAE;
  --text-color-dark : #EEEEEE;
  --text-color-light : #222222;
  }


body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  font-family: "Teko", sans-serif;
}
input{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}


button{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.card{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.other{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}


.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light .card{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
.light .other{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light input{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light button{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}





*:focus{
  outline: 0;
}
